<hr>
<div class="table">
    <table mat-table [dataSource]="arrangements" class="mat-elevation-z8">

        <ng-container matColumnDef="naziv_aranzmana">
            <th mat-header-cell *matHeaderCellDef> Arrangement Name </th>
            <td mat-cell *matCellDef="let element"> {{element.naziv_aranzmana}} </td>
        </ng-container>

        <ng-container matColumnDef="cena_nocenja">
            <th mat-header-cell *matHeaderCellDef> Nightly Price </th>
            <td mat-cell *matCellDef="let element"> {{element.cena_nocenja}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element"> <button mat-button color="primary"
                    (click)="switchEditingModeReservations(element)">
                    Click here to edit</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div class="form-div" *ngIf="editingArrangement">
    <form class="form" [formGroup]="editArrangementForm">
        <mat-form-field>
            <mat-label>Arrangement Name</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>
        <button class="form-button" mat-raised-button color="primary" (click)="editArrangement()">Confirm</button>
    </form>
</div>
<hr>