/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 22px;
  flex-direction: column;
}

table {
  width: 90%;
  margin-bottom: 20px;
}

.form {
  border: 1px solid gray;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 11px;
}

mat-form-field {
  width: 80%;
}

.form-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 22px;
  flex-direction: column;
}
